[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pynamodb = "*"
flask = "*"
flask-accepts = "*"
flask-marshmallow = "*"
flask-restx = "*"
werkzeug = "*"
serverless-wsgi = "*"

[dev-packages]
autopep8 = "*"
isort = "*"
flake8 = "*"
flake8-awesome = "*"
moto = "*"
pipenv = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-dotenv = "*"
py-event-mocks = "*"

[requires]
python_version = "3.8"
